$basePadding0:0;
$basePadding10:10px;
$basePadding20:20px;

$hoverBgColor:#bbd3ec;


$border1solid: 1px solid #000;
$border1solidgGray: 1px solid #bfbebe

//$border1solid: 1px solid #000;
//$borderColr:#000;

//$basePadding$size:${size}px
